:root {
    --footer-text-color: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-head {
    font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
}

.logo-container,
.logo-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-logo {
    color: #2e2f42;
}

.span-foot {
    color: var(--footer-text-color);
}

.text-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-link:hover,
.text-link:focus {
    color: #404bbf;
}

.address-list {
    font-style: normal;
}

.text-address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-address:hover,
.text-address:focus {
    color: #404bbf;
}

.main-container {
    background-color: #2e2f42;
}

.post-text-headline {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.post-headline-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    cursor: pointer;
}

.post-headline-button:hover,
.post-headline-button:focus {
    background-color: #404BBF;
}

.title,
.title-team {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph,
.paragraph-app,
.paragraph-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.foot {
    background-color: #2e2f42;
}

.paragraph-foot {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
}

.team-list-item {
    background-color: #ffffff;
}